*.tex 
*.dvi 
*.idx 
*.aux 
*.log 
*.ind 
*.ilg 

*.o 
*.d 
*.asm 
*.sym

fs.img
initcode
initcode.out

devcontainer.json
usys.S

/kernel/kernel

mkfs
_cat
_echo
_forktest
_grep
_init
_kill
_ln 
_ls
_mkdir 
_rm 
_sh
_stressfs
_usertests
_grind 
_wc 
_zombie 
_pingpong

.gdbinit